.bg-custom {
    background-color: #0b3d91;
  }

  .nav-link-custom {
    color: #333;
    font-weight: 500;
    transition: color 0.2s;
    display: block; /* Garante que o link ocupe a linha inteira */
    white-space: nowrap; /* Previne quebra de texto */    
  }
  
  .nav-link-custom:hover {
    color: #007bff;
    text-decoration: none;
  }

  header {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  header h1 {
    font-size: 1.75rem;
  }
  main h2 {
    font-size: 1.5rem;
  }
  main form {
    margin-top: 2rem;
  }

  .main-content {
    max-width: calc(90% - 200px);
    overflow-x: hidden;
  }

   .page-container {
    min-height: 100vh;
    display: flex;
  }

  .input-title {
    border: none;
    background-color: transparent;
    outline: none;
    font-size: inherit;
    font-weight: bold;
    width: 100%;
    text-align: center;
  }
  
  .input-fake {
    border: none;
    background-color: transparent;
    outline: none;
    font-size: inherit;
    width: 100%;
    resize: none;
  }

  .cumprida {
    background-color: #d4edda; /* Verde claro */
  }
  .atrasada {
    background-color: #ffcccc; /* Vermelho claro */
  }
  